.Order{
    margin: 20px auto;
    width: 60%;
    border: 2px solid black;
}

.order_header{
    display: flex;
    justify-content:space-around;
    border: none;
    padding: 5px;
    background-color: gainsboro;
}

.gift{
    color: green;
}

.container {
    width: 100%;
}
.order_container{
    padding-right: 5px;
}

.order-date {
    display: flex;
    gap: 5px;
}